:root{
  --black-color: #111111;
  --gray-color: rgba(17, 17, 17, 0.48);
  --primary-color: #01A7FD;
}
#root{
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
